/* 十八大首页样式 */
body {
	/* 背景图 */
	background-image:url(../images/bg.jpg);
	font-size: 100%;
	/* 设置字体 */
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: auto;
	height: auto;
}

/* 网页中主要内容 */
#container {
	overflow: hidden;
}
/* 头部左侧logo 和 右侧联系信息*/
#header .inside {
	width: 960px;
	height: 45px;
	top: 30px;
	border-bottom: 2px solid #132b2b;
}
/* logo添加阴影底图 */
.logo_top {
	/* background:#f1f1f1 url(../images/shadow.gif) no-repeat bottom right; */
}
/* 让图片左上偏移，更有立体效果 */
.logo_top img {
	position: relative;
	top: -37px;
}

/*s鼠标经过的样式*/
.logo_top img:hover {
	top: 0px;
	background: #132b2b;
}

/* 右侧联系信息 */
ul#teamInfo {
	right: 10px;
	top: 10px;
}

/* 在同一行显示 */
 ul#teamInfo li{
	display: inline;

}

/*联系信息文字的样式 */
ul#teamInfo li a {
	width: 100px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background: url(../images/top_nav.png) no-repeat;
	background-position: -9px 0;  
	text-decoration: none;
	text-align: center;
}
/* 联系信息在鼠标经过的样式 */
ul#teamInfo li a:hover {
	color: #ff0;
	background-position:-9px -20px;
}
/* homeBanner部分，加张固定的背景图 */
#homeBanner {
	background-image:url(../images/home.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #132b2b;
	background-position: center top;
	position: relative;
	top: 50px;
}

/* 文字大小，位置等样式 */
#homeBanner h2 {
	text-align: center;
	position: relative;
	top: 480px;
	font-size:64px;
	font-weight: bold;
}
/* 中间内容部分 */
#center {
	width: 960px;
	height: 530px;
	margin: 0 auto;
	position: relative;
	top: 70px;
	border-top: 2px solid #132b2b;
	border-bottom: 2px solid #132b2b;
}
/* footer部分 */
#footer {
	top: 90px;
	background: #1b1b1b;
	color: #5b5b5a;
	width: 960px;
	height: 250px;
	border: 2px solid #132b2b;
}
/* 底部logo */
#footer a {
	top: 40px;
	right: 20px;
}
/* 设置logo位置 */
#footer img {
	position: relative;
	top: -37px;
}

#footer img:hover {
	top: 0px;
	background: #132b2b;
}
/* footer下ul样式 */
#footer ul {
	margin: 20px;
}
#footer ul li{
	padding: 5px 0;
}
/* 版权信息 */
#container p {
	width: 960px;
	border-top: 1px solid #000;
	text-align: center;
	color: #000;
}

/* 恢复 strong 默认样式 */
#container p strong {
	font-weight: bold;
}